<h1>My Tasks to Complete</h1>
<ul>
  <% @tasks.each do |task| %>
    <li><%= task.completed %> <%= link_to(task.title, task_path(task)) %></li>
  <% end %>
</ul>
<p><%= link_to("Add new +", new_path) %></p>
